body{
  padding: 20px;
  color: midnightBlue;
  background-color: grey;
}

.borderThis{
  border: 1px solid steelBlue;
}

.glyphicon{
  font-size: 30px;
}

.glyphicon-star-empty:hover{
  color: darkGoldenRod;
}

.glyphicon-star:hover{
  color: fireBrick;
}

.posterImg{
  float: right;
  width: 150px;
  height: 210px;
}

.movieInfo{
  padding: 10px;
  border: 1px solid steelBlue;
  background-color: white;
}

.movieInfoHeads{
  padding-right: 10px;
  font-weight: bold;
}

.findMovie{
  margin: 10px;
}

.centerThis{
  text-align: center;
}

.extraDiv{
  padding: 20px;
}

.padThis{
  border: 2px solid steelBlue;
  background-color: azure;
}

#hInnerWrap{
  background-color: azure;
}

.outer{
  background-color: white;
}

#actualMovies{
  background-color: white;
}

#searchResult{
  background-color: azure;
}
