body{
  padding: 20px;
}

.borderThis{
  border: 1px solid black;
}

.glyphicon{
  font-size: 30px;
}

.posterImg{
  float: right;
  width: 150px;
  height: 210px;
}

.movieInfo{
  padding: 10px;
  border: 1px solid black;
  background-color: azure;
}

.movieInfoHeads{
  padding-right: 10px;
  font-weight: bold;
}

.findMovie{
  margin: 10px;
}

.centerThis{
  text-align: center;
}

.extraDiv{
  padding-bottom: 30px;
}
